.form-group.has-feedback
   input(type="email", name="email", placeholder="Email").form-control
   span.glyphicon.glyphicon-envelope.form-control-feedback
.form-group.has-feedback
   input(type="password", name="password", placeholder="Password").form-control
   span.glyphicon.glyphicon-lock.form-control-feedback